.App {
  text-align: center;
  scroll-behavior: smooth;  
}
h1,h2,p,img{
  cursor: context-menu;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root{
  overflow-x: hidden;
  scroll-behavior: smooth;  
}
.static{
  position: fixed;
  width: 100%;
  z-index: 99;
}
.tsparticles, #tsparticles, .particles{
  z-index: -9;
  position: relative;
}
body::-webkit-scrollbar {
  width: 13px;
  background-color: transparent;
  border-radius: 7px;
  scroll-behavior: smooth;
  margin-right: 3px;
}

body::-webkit-scrollbar-track {
  background: transparent;
  scroll-behavior: smooth;
  border-radius: 3px;
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background: #000000;
  scroll-behavior: smooth;
  border-radius: 2px;
  margin-right: 2px;
}
